/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* reset css off */

h2{
    font-family: 'DM Serif Display', serif;
}

h3{
    font-family:'DM Serif Display', serif ;
    font-size: 24px;
}
body{
    font-family: 'Karla', sans-serif;
}
.h2-2{
    text-align: left;
    margin-left: 40px;
    padding-top: 100px;
    font-size: 38px;
}
.h2-4{
    font-size: 28px;
}

.h2-3{
    font-size: 38px;
    padding-bottom: 10px;
}
.h2-5{
    font-size: 38px;
    line-height: 1.4;
    padding-left: 40px;
}

.btn-how{
    margin-right: 60px;
    height: 30px;
    background-color: rgb(45,38,64);
    color: white;
    border: white 1px solid;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 50px;
}


.nav-bar{
    display: flex;
    justify-content: space-evenly;
    width:70%;
}

.right-header{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.main-content{   
    background-color: rgb(45,38,64);
    color: white;
    padding: 80px 40px;   
}

a{
    font-weight: 900;
}

.btn-head{
    height: 30px;
    background-color: white;
    font-weight: 100;
}


.image-position{
    position: absolute;
    right: 100px;
    top:150px;
}

h1{
    font-size: 40px;
    font-family: DM Serif Display,sans-serif;
    line-height: 1.5;
}

.paragraph-main{
    width: 40%;
    line-height: 1.4;
}

.btn-view{
    height: 40px;
    width: 120px;
    background-color:rgb(45,38,64);
    font-weight: 100;
    margin: 20px 0;
    border: 2px solid white;
    color: white;
}

.middle-part{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.image-flex{
    padding-left: 150px;

}

.middle-paragraph{
    line-height: 1.4;
    padding-left: 100px;
    padding-top: 50px;

}

.btn-know{
    height: 40px;
    width: 120px;
    background-color: white;
    font-weight: 100;
    margin-top: 30px;

}

.table-content{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    line-height: 1.5;
    font-weight: 900;

}

.last-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(45,38,64) ;
    color: white;
    height: 200px;
}

.logo-icon-end{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.anchor-class{
    text-align: center;
    
    
    
}

.section-padding{
    padding: 0 100px;
}

.footer{
    text-align: center;
    background-color: rgb(45,38,64);
    color: white;
    font-size: 15px;
    height: 60px;
    padding-top: 25px;
    font-weight: 100;
}

.heading-logo{
    font-size: 28px;
}